<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="testnglisteners.ITransformExample"/>
        <listener class-name="testnglisteners.ITestListnerExample"/>
    </listeners>
    <test verbose="2" preserve-order="true" parallel="false" thread-count="2" name="C:/Users/4060/IdeaProjects/ArchanaSutarAutomationProject/ArchanaSutarAutomationProject.iml">
        <classes>
            <class name="testnglisteners.ExtentExample"/>
        </classes>
    </test>
</suite>
